body {
    background-image: url(http://img15.3lian.com/2015/f2/147/d/20.jpg);
    background-attachment: fixed;
    background-position: center;
}

.main{
    font-size: 50px;
    color: indigo;
    font-weight: bold;
    font-family: 'Spirax', cursive;
}

.back{
    color: gold;
    background-color: fuchsia;
    margin: 30px 600px 50px 100px;
    border: 1px solid #000000;
    padding: 20px;
    box-shadow: 5px 10px red;
    border-radius: 15px 50px;
}

.cvs_or{
    margin: 0px 100px;
}

#size{
    background-color: rgb(0, 255, 255);
}

#textin{
    background-color: rgb(0, 255, 255);
}

#text_size{
    background-color: rgb(0, 255, 255);
}

#op{
    background-color: rgb(0, 255, 255);
}

#download_name{
    background-color: rgb(0, 255, 255);
}

input[type=text]{
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 204);
    border-radius: 10px;
}

input[type=number]{
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 204);
    border-radius: 10px;
}